<head><script defer src="../../Users/kate0/Desktop/реп общ/dev_build/index.fe98d6121d4dea547343.js"></script><link href="../../Users/kate0/Desktop/реп общ/dev_build/index.3bc78f32f69f915d3208.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'C:\Users\kate0\Desktop\реп общ\src\layout\advices.html' in 'C:\Users\kate0\Desktop\реп общ'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\kate0\Desktop\реп общ\src\layout\advices.html' in 'C:\Users\kate0\Desktop\реп общ'
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\Compilation.js:2109:28
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:908:13
      at eval (eval at create (C:\Users\kate0\Desktop\реп общ\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:333:22
      at eval (eval at create (C:\Users\kate0\Desktop\реп общ\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:512:22
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:150:10
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:775:25
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:992:8
      at C:\Users\kate0\Desktop\реп общ\node_modules\webpack\lib\NormalModuleFactory.js:1121:5
  
  - Compilation.js:2109 
    [реп общ]/[webpack]/lib/Compilation.js:2109:28
  
  - NormalModuleFactory.js:908 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:908:13
  
  
  - NormalModuleFactory.js:333 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:333:22
  
  
  - NormalModuleFactory.js:512 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:512:22
  
  - NormalModuleFactory.js:150 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:150:10
  
  - NormalModuleFactory.js:775 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:775:25
  
  - NormalModuleFactory.js:992 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:992:8
  
  - NormalModuleFactory.js:1121 
    [реп общ]/[webpack]/lib/NormalModuleFactory.js:1121:5
  
  - child-compiler.js:174 
    [реп общ]/[html-webpack-plugin]/lib/child-compiler.js:174:18
  
  - Compiler.js:627 finalCallback
    [реп общ]/[webpack]/lib/Compiler.js:627:5
  
  - Compiler.js:662 
    [реп общ]/[webpack]/lib/Compiler.js:662:11
  
  - Compiler.js:1348 
    [реп общ]/[webpack]/lib/Compiler.js:1348:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [реп общ]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1344 
    [реп общ]/[webpack]/lib/Compiler.js:1344:33
  
  - Compilation.js:2925 finalCallback
    [реп общ]/[webpack]/lib/Compilation.js:2925:11
  
  - Compilation.js:3238 
    [реп общ]/[webpack]/lib/Compilation.js:3238:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [реп общ]/[tapable]/lib/Hook.js:18:14
  
  - Compilation.js:3231 
    [реп общ]/[webpack]/lib/Compilation.js:3231:38
  
  
  - Compilation.js:534 
    [реп общ]/[webpack]/lib/Compilation.js:534:10
  
  - SourceMapDevToolPlugin.js:596 
    [реп общ]/[webpack]/lib/SourceMapDevToolPlugin.js:596:10
  
  - async.js:2830 
    [реп общ]/[neo-async]/async.js:2830:7
  
  - async.js:2857 Object.each
    [реп общ]/[neo-async]/async.js:2857:9
  
  - SourceMapDevToolPlugin.js:419 
    [реп общ]/[webpack]/lib/SourceMapDevToolPlugin.js:419:17
  
  - async.js:2830 
    [реп общ]/[neo-async]/async.js:2830:7
  
  - async.js:2857 Object.each
    [реп общ]/[neo-async]/async.js:2857:9
  
  - SourceMapDevToolPlugin.js:229 
    [реп общ]/[webpack]/lib/SourceMapDevToolPlugin.js:229:15
  
  - Compilation.js:522 fn
    [реп общ]/[webpack]/lib/Compilation.js:522:9
  
  
  
  - Compilation.js:505 fn
    [реп общ]/[webpack]/lib/Compilation.js:505:9
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [реп общ]/[tapable]/lib/Hook.js:18:14
  
  - Compilation.js:3201 cont
    [реп общ]/[webpack]/lib/Compilation.js:3201:34
  
  - Compilation.js:3251 
    [реп общ]/[webpack]/lib/Compilation.js:3251:10
  
  - async.js:3485 symbolIterator
    [реп общ]/[neo-async]/async.js:3485:9
  
  - async.js:3527 done
    [реп общ]/[neo-async]/async.js:3527:9
  
  - async.js:2830 
    [реп общ]/[neo-async]/async.js:2830:7
  
  - async.js:2865 done
    [реп общ]/[neo-async]/async.js:2865:11
  
  - async.js:2818 
    [реп общ]/[neo-async]/async.js:2818:7
  
  - Compilation.js:4878 
    [реп общ]/[webpack]/lib/Compilation.js:4878:18
  
  - HookWebpackError.js:67 
    [реп общ]/[webpack]/lib/HookWebpackError.js:67:2
  
  
  - Cache.js:111 Cache.store
    [реп общ]/[webpack]/lib/Cache.js:111:20
  
  - CacheFacade.js:141 ItemCacheFacade.store
    [реп общ]/[webpack]/lib/CacheFacade.js:141:15
  
  - Compilation.js:4875 
    [реп общ]/[webpack]/lib/Compilation.js:4875:25
  
  - Cache.js:95 
    [реп общ]/[webpack]/lib/Cache.js:95:34
  
</pre>